.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20PX;
}

#timer {
    font-size: 5rem;
}

.btn {
    font-size: 1rem;
    border: 0;
    background-color: lightcoral;
    padding: 20px;
    border-radius: 30px;
}